teste.py
teste.csv

data/ANP/*
data/POV/*
*.png
src/alg/*.txt
src/alg/*.h5
.h5rank.loc

__MACOSX/

__MACOSX/

*__pycache__*

*.log

*.dat
*.out

*parquet*
*.html

*.ipynb_checkpoints/

venv/

!dados/xx.npy
!dados/pp.npy
!.gitkeep

*.coverage

.vscode