teste.py
teste.csv

dados/o*
dados/v*
dados/w-*
dados/p
dados/wells-*
dados/*.npy

coherence_features/*.npy

tmp_data/*

*__pycache__*

*.log

*.dat
*.out

*parquet*
*.html

!dados/xx.npy
!dados/pp.npy
!.gitkeep
