teste.py
teste.csv

data/*/o*
data/*/v*
data/*/w-*
data/*/p
data/*/wells-*
data/*/*.npy
dados/*.h5

.h5rank.loc

*.h5

pocos_ANP/
__MACOSX/

*__pycache__*

*.log

*.dat
*.out

*parquet*
*.html

*.ipynb_checkpoints/

venv/

!dados/xx.npy
!dados/pp.npy
!.gitkeep
